*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#111;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
}

.logo{
    font-size:30px;
    font-weight:bold;
}

.logo span{
    color:#f7b500;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:0.3s;
}

nav a:hover{
    color:#f7b500;
}

.hero{
    min-height:85vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 80px;
}

.hero-content{
    width:50%;
}

.hero-content h4{
    color:#f7b500;
    margin-bottom:15px;
}

.hero-content h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero-content h3{
    color:#d4d4d4;
    margin-bottom:20px;
}

.hero-content p{
    color:#c9c9c9;
    line-height:1.8;
    margin-bottom:25px;
}

.btn{
    background:#f7b500;
    color:black;
    text-decoration:none;
    padding:12px 25px;
    border-radius:5px;
    font-weight:bold;
}

.hero-image{
    position:relative;
    width:420px;
    height:420px;
}

.hero-image img{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:20px;
    position:absolute;
    top:45px;
    left:45px;
    z-index:2;
}

.yellow-box{
    width:300px;
    height:300px;
    border:6px solid #f7b500;
    border-radius:20px;
    position:absolute;
    top:45px;
    left:45px;
    z-index:1;
}
.page{
    min-height:80vh;
    padding:80px;
}

.page h2{
    color:#f7b500;
    margin-bottom:25px;
    font-size:40px;
}

.card{
    background:#1e1e1e;
    padding:25px;
    border-left:4px solid #f7b500;
    border-radius:10px;

    width:80%;
    margin:20px auto;
}

footer{
    background:#1a1a1a;
    text-align:center;
    padding:20px;
}
.skills-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px 20px;
}

.skills-grid div{
    background:#2a2a2a;
    padding:10px 15px;
    border-radius:6px;
    font-size:16px;
}
